@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
  background-color: v.$black;
  color: v.$lightGray;
  
  .footer-container{
    padding: 3rem;
    @include m.grid(2, 20rem);

    @include m.tablet{
      padding: 0rem;
      @include m.grid(1, 0rem);
      row-gap: 4rem;
    }

    @include m.phone{
      &.container{
        width: 95%;
      }
    }

    h3{
      color: v.$white;
      text-align: start;
      font-size: 3rem;

      &.titleSeparator{
        &::after {
          margin: 1rem 0;
        }
      }
    }

    .contact{
      .contact-group{
        a{
          width: auto;
          display: flex;
          align-items: center;
          color: v.$white;
          transition: all .3s ease;

          @include m.breakpointSmartWatch{
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          
          p{
            font-size: 1.7rem;
            margin: .7rem;

            @include m.breakpointSmartWatch{
              font-size: 1.3rem;
            }
          }
  
          i{
            margin-right: 1rem;
            font-size: 2.4rem;
            transition: all .3s ease;

            @include m.phone{
              margin-right: .2rem;
            }
          }

          &:hover{
            color: v.$orange;

            i{
              color: v.$orange;
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .other-pages{
      ul{
        li{
          list-style: disc;
          transition: color .3s ease;

          a{
            color: v.$white;
            transition: color .3s ease;
          }
          
          &:hover{
            color: v.$orange;

            a{
              color: v.$orange;
            }
          }
        }
      }
    }
  }

  .copyright{
    text-align: center;
    background-color: #000000;
    width: 100%;
    padding: 2rem 0;
    color: v.$white;
    
    p{
      font-size: 1.8rem;
    }
  }
}