@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    line-height: normal;
}
body {
    min-height: 100%;
    font-family: v.$principal_font;
    font-size: 1.6rem;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: v.$black;
}

img {
    max-width: 100%;
}

li{
    list-style: none;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    padding: 2.5rem 0;
}

.titleSeparator{
    &::after {
        content: "";
        height: .3rem;
        width: 90%;
        display: block;
        background-color: v.$orange;
        margin-top: .7rem;
        margin: 1rem auto;
        border-radius: 2rem;
      }
}

.activeLink{
    color: v.$orange !important;
}