@use 'variables' as v;

/** Media Queries **/
@mixin phone {
    @media (max-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: v.$desktop) {
        @content;
    }
}


@mixin button($bgColor, $textColor, $display, $width) {
    background-color: $bgColor;
    color: $textColor;
    padding: 1.5rem 4rem;
    width: $width;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border: none;
    transition: background-color .3s ease;
    display: $display;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columns, $space ) {
    display: grid;
    gap: $space;
    grid-template-columns: repeat($columns, 1fr);
}