@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    font-family: v.$titles_font;
    font-weight: v.$regular;
    letter-spacing: .15rem;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}

@include m.tablet{
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.7rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.3rem;
    }
}

@include m.phone{
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.5rem;
    }
}
