// Fuentes
$principal_font: 'Poppins', sans-serif;
$logo_font: 'Dancing Script', cursive;
$titles_font: 'Roboto', sans-serif;

// Breackpoints para los media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$breakpointDesktop: 930px;
$breakpointPhone: 410px;
$breakpointSmartWatch: 280px;

// Colors
$black: #1a1b15;
$white: #FFFFFF;

// Principal page colors
$orange: #FF6D24;
$darkGray: #4E413B;
$gray: #857671;
$lightGray: #bfbfbf;
$red: #f32020;


$separation: 5rem;

// Fuentes
$ligther: 300;
$regular : 400;
$bold: 700;
$boldPlus: 900;