// Import de la fuente de las cards
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

// Fuentes
$principal_font: 'Poppins', sans-serif;
$logo_font: 'Dancing Script', cursive;
$titles_font: 'Roboto', sans-serif;
$cards_font: "Source Sans Pro", sans-serif;// font stuff

// Breackpoints para los media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$breakpointDesktop: 930px;
$breakpointPhone: 410px;
$breakpointSmartWatch: 280px;

// Colors
$black: #1a1b15;
$white: #FFFFFF;

// Principal page colors
$orange: #FF6D24;
$darkGray: #4E413B;
$gray: #857671;
$lightGray: #bfbfbf;
$red: #f32020;

// Color from cards
$lightBG: #dce1df;
$salmon: #ff6666;
$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade: #007c85;

// Color from social-networks
$facebook: #3b5999;
$instagram: #e4405f;
$whatsapp: #25D366;
$email: #DB4437;


$separation: 5rem;

// Fuentes
$ligther: 300;
$regular : 400;
$bold: 700;
$boldPlus: 900;