// Fuentes
$principal_font: 'Poppins', sans-serif;

// Breackpoints para los media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #1a1b15;
$white: #FFFFFF;
$gray: #e1e1e1;

// Principal page colors
$orange: #FF6D24;
$darkGray: #4E413B;
$gray: #857671;


$separation: 5rem;

// Fuentes
$ligther: 300;
$regular : 400;
$bold: 700;
$boldPlus: 900;