@use 'base/variables' as v;
@use 'base/mixins' as m;

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./../img/banner.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include m.breakpointDesktop{
    height: 70vh;
  }
  
  @include m.tablet{
    height: 60vh;
  }

  @include m.phone{
    height: 40vh
  }

  // Oscurecer imagen
  &:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }
}