@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
  width: 100%;
  height: 50vh;
  background: url('./../img/banner.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
  color: v.$white;
  position: relative;

  &.hero-home{
    height: 100vh;
  }

  .hero-content{
    position: relative;
    padding-bottom: 3rem;

    .welcome{
      color: v.$orange;
      font-size: 3rem;

      @include m.tablet{
        font-size: 2rem;
      }
    }

    .logo{
      @include m.phone{
        font-size: 3rem;
      }
    }
  }

  @include m.breakpointDesktop{
    height: 70vh;
  }
  
  @include m.tablet{
    height: 60vh;
  }


  // Oscurecer imagen
  &::before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
  }
}