@use 'base/variables' as v;
@use 'base/mixins' as m;

.galery-container{
  .titleSeparator{
    &::after{
      width: 100%;
    }
  }
}

.images-container{
  margin-top: 3rem;
  @include m.grid(4, 1rem);
  grid-auto-flow: dense;

  @include m.tablet{
    @include m.grid(2, 1rem);
  }

  @include m.phone{
    @include m.grid(1, 1rem);
  }

  a{
    grid-column : span 1;
    transition: all .4s ease;

    &:hover{
      transform: scale(1.03);
      -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    }
  }

  img{
    object-fit: cover;
    height: 24rem;
    width: 100%;
    transition: all .2s ease-in-out;
  }
}